<p id="notice"><%= notice %></p>

<p>
  <strong>Avatar default:</strong>
  <%= @default_avatar.avatar_default %>
</p>

<%= link_to 'Edit', edit_default_avatar_path(@default_avatar) %> |
<%= link_to 'Back', default_avatars_path %>
