  <div class="search">
    <div class="search-box">
    <form method="get" action="search" id="search">
      <input id="q" name="q" type="text" size="40" placeholder="Search..." />
    </form>
  </div>
  </div>
  <div id="map-canvas"></div>
  <div class="white-popup">

    <div class="title"></div>
    <div class="photo"></div>
    <div class="rating"></div>
    <div class="category"></div>
    <div class="facilities"></div>
    <div class="foot"></div>
  </div>
</body>
<script>
$('.white-popup').hide();
var myjson;
var apiurl = "https://lit-beyond-9422.herokuapp.com/api/justpark/" + '<%= j @search.to_s %>';
$.ajax({
  url: apiurl,
  dataType: 'jsonp',
  async: false,
  type: 'GET',
  crossDomain: true,
  success: function(data) {
    myjson = data;
  },
  error: function(jqXHR, textStatus, errorThrown) {
    console.log(textStatus, errorThrown);
  }
});

function plural(number,message){
  if(number != 1){
    return number + ' ' + message;
  }
  else{
    message = message.substring(0, message.length - 1);
    return number + ' ' + message;
  }
}

function initialize() {
  var myLatlng = new google.maps.LatLng(myjson.coords.lat,myjson.coords.lng);
  var bounds = new google.maps.LatLngBounds();
  var mapOptions = {
    zoom: 10,
    center: myLatlng
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'),
  mapOptions);
  for(i = 0; i < myjson.data.length ; i++){

    var position = new google.maps.LatLng(myjson.data[i].coords.lat, myjson.data[i].coords.lng );
    bounds.extend(position);
    marker = new google.maps.Marker({
      position: position,
      map: map
    });


    (function(z){
      google.maps.event.addListener(marker, "click", function() {
        $('.facilities').empty();
        $('.title').html(myjson.data[z].title + '<div class="price">' + myjson.data[z].display_price.formatted_price + ' per ' + myjson.data[z].display_price.period + '</div>');
        $('.rating').html(myjson.data[z].feedback.rating + '/5 based on ' + plural(myjson.data[z].feedback.count,'reviews'));
        $('.photo').html('<img src="' + myjson.data[z].photos.google_streetview + '">');
        $('.category').html('<a>Category: </a>' + myjson.data[z].category + ' (' + plural(myjson.data[z].spaces_to_rent,'spaces') + ' )');

        if(myjson.data[z].facilities.length != 0){
          $('.facilities').append('<a>Facilities: </a>');
          for(i=0;i < myjson.data[z].facilities.length; i++){

            if(i != myjson.data[z].facilities.length - 1){
              $('.facilities').append(myjson.data[z].facilities[i] + ', ');}
              else{ $('.facilities').append(myjson.data[z].facilities[i]); }
            }}

            $.magnificPopup.open({
              items: {
                src: '.white-popup',
                type: 'inline'
              }
            });
            $('.white-popup').hide();
            $('.white-popup').show("slide", { direction: "left" }, 400);
          });
        })(i);
      }

      map.fitBounds(bounds);
      var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        this.setZoom(16);
        google.maps.event.removeListener(boundsListener);
      });
    }

    function loadScript() {
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' +
      'callback=initialize';
      document.body.appendChild(script);
    }

    window.onload = loadScript;

    $('#search').submit(function(e){
      e.preventDefault();
      $(location).attr("href", '<%= j request.base_url.to_s %>' + '/assignment/justpark/' + $('#q').val());
        });
</script>
</html>
