<link
    rel="stylesheet"
    type="text/css"
    href="http://cloud.github.com/downloads/lafeber/world-flags-sprite/flags16.css"
/>
<ul class="f16">
    <li class="flag <%= current_user.country.downcase if current_user.country %>"></li>
      </ul>

      <%= current_user.timezone %>
      <%= Time.zone.now %>