#category_container{
  top: 85px;
  right: 55px;
  position: fixed;
}
.category-list{
  background-color: #F8F8F8;
  list-style-type: none;
  width: 102%;
  border-radius: 9px 9px 9px 9px;
-moz-border-radius: 9px 9px 9px 9px;
-webkit-border-radius: 9px 9px 9px 9px;
border: 0px solid #D5D5D5;
}

.category-list li{
  color: #7A7A7A;
  font-size: 105%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  line-height: 30px;
  border-bottom: 1px solid #D5D5D5;
}

.category-list a:hover{
  text-decoration: none;
}

.category-list li:hover{
  background-color: white;
  transition: all 0.15s;
}
#list-selector{
  background-color: #FCFCFC;
  width: 100%;
  display: block;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #D5D5D5;
}
#list-selector a{
  color: #7A7A7A;
}

#list-selector a:hover{
  color: #3D3D3D;
}

#left{
  padding-left: 40px;

}
#right{
  border-left: 1px solid #D5D5D5;
  padding-left: 42px;
  padding-right: 45px;
  float:right;
}
.search-list{
  background-color: #848484;
  display: inline;
}

.search-list input[type="text"]{
  color: white;
  background-color: #A9A9A9;
  border: none;
  height: 40px;
  width: 96%;
}
.search-list input[type="text"]::-webkit-input-placeholder{
  color: white;
}

.current{
  color: red;
}